<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta name="author" content="ch2web@163.com">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="../../static/libs/mui-master/dist/css/mui.min.css">
    <link rel="stylesheet" type="text/css" href="../../static/libs/mui-master/plugin/picker/css/mui.picker.css">
    <link rel="stylesheet" type="text/css" href="../../static/libs/mui-master/plugin/picker/css/mui.poppicker.css">
    <link rel="stylesheet" type="text/css" href="../../static/libs/mui-master/dist/css/mui.min.css">
    <link rel="stylesheet" type="text/css" href="../../static/libs/iconfont/iconfont.css">
    <link rel="stylesheet" type="text/css" href="../../static/libs/laydate/theme/default/laydate.css">
    <link rel="stylesheet" type="text/css" href="../../static/libs/calendar/calender.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/common/common.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/self_center/study_main.css">
    <title>学习主界面</title>
</head>
<body>
<!--<header class="mui-bar mui-bar-nav">-->
    <!--<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"><span>返回</span></a>-->
    <!--<h1 class="mui-title">学习主界面</h1>-->
<!--</header>-->
<div class="mui-content">
    <div class="mui-scroll-wrapper">
        <div class="mui-scroll pad_15">
            <div class="main-card">
                <img class="card-bg" src="../../static/images/self_center/star_1.png" alt="">
                <div class="card-body">
                    <div class="card-text">
                        <p class="font-12 color-666">亲爱的元宝：</p>
                        <p class="font-12 color-666">欢迎踏上多元星系学习之旅！</p>
                        <p class="font-12 color-666">本次航程持续 <span class="color-d7846c">4</span> 个月</p>
                        <p class="font-12 color-666">预计将在 <span class="color-d7846c">3</span> 个月 <span class="color-d7846c">4</span> 天</span>后到达终点—<b class="color-6279af">赛德娜星球</b></p>
                    </div>
                    <span class="mark-text mark-text-0 font-12 color-333">Earth</span>
                    <span class="mark-text mark-text-1 font-12 color-333">Mars</span>
                    <span class="mark-text mark-text-2 font-12 color-333">Pluto</span>
                    <span class="mark-text mark-text-3 font-12 color-333">Jove</span>
                    <span class="mark-text mark-text-4 font-12 color-333">Sedna</span>
                </div>
            </div>
            <p class="main-title pad_5_3_ color-999 font-12"><i class="iconfont icon-gonggao color-B3DAD7 font-20 mar_r_5"></i>阅读<span>18709</span>个文字，学会<span>777</span>个单词，掌握<span>880</span>个语法知识点</p>
            <div class="calendar-card pad_5_3_">
                <div class="calendar-op  font-14 color-666 mar_t_5 mui-row">
                    <p class="mui-col-xs-4 mui-pull-left mui-text-left"><a href="javascript:;" class="font-12 display-inline-block see-past-btn color-fff bg-B3DAD7 periodical-btn" id="periodical_btn">查看往期</a></p>
                    <p class="mui-col-xs-4 mui-pull-left mui-text-center" id="periodical_num"></p>
                    <p class="mui-col-xs-4 mui-pull-left mui-text-right"><span id="difficulty"></span></p>
                </div>
                <div id="calendar"></div>
                <ul class="mui-row font-14 color-333 mui-text-center">
                    <li class="mui-col-xs-3 mui-ellipsis"><i class="font-12 mar_r_5 iconfont icon-yuanquan1 color-91DAD8"></i>已学习</li>
                    <li class="mui-col-xs-3 mui-ellipsis"><i class="font-12 mar_r_5 iconfont icon-yuanquan1 color-d7846c"></i>未学习</li>
                    <li class="mui-col-xs-3 mui-ellipsis"><i class="font-12 mar_r_5 iconfont icon-yuanquan1 color-F9D233"></i>已补科</li>
                    <li class="mui-col-xs-3 mui-ellipsis"><i class="font-12 mar_r_5 iconfont icon-yuanquan color-91DAD8"></i>当前课程</li>
                </ul>
            </div>
            <ul class="mui-row font-14 mui-text-center mar_t_20">
                <li class="mui-col-xs-6"><a href="javascript:;" class=" calendar-btn bg-91DAD8 color-666">复习</a></li>
                <li class="mui-col-xs-6"><a href="javascript:;" class=" calendar-btn bg-91DAD8 color-666">多元VIP</a></li>
            </ul>
        </div>
    </div>
</div>
<script type="text/javascript" src="../../static/libs/jquery-1.11.3.js"></script>
<script type="text/javascript" src="../../static/libs/mui-master/dist/js/mui.min.js"></script>
<script type="text/javascript" src="../../static/libs/mui-master/plugin/picker/js/mui.picker.js"></script>
<script type="text/javascript" src="../../static/libs/mui-master/plugin/picker/js/mui.poppicker.js"></script>
<script type="text/javascript" src="../../static/libs/calendar/calender.js"></script>
<script type="text/javascript" src="../../static/js/self_center/study_main.js"></script>
</body>
</html>